<table class="table">
	<tr>
		<th>Etunimi</th>
		<th>Sukunimi</th>
		<th>Email</th>
		<th>Puh.</th>
		<th>Rooli</th>
		<td></td>
	</tr>
	<tr>
	<form action="/edit_staff" method="post">
		<td><input type="text" value="Mickey"></td>
		<td><input type="text" value="Mickey"></td>
		<td><input type="text" value="Mickey"></td>
		<td><input type="text" value="Mickey"></td>
		<td><input type="text" value="Mickey"></td>

		<input type="submit" value="Save">
		<input type="reset" value="Reset">
		<a href="#" class="btn btn-medium">Cancel</a>
		<br>
</form>