<form action="/add_news" method="post">
		<input type="text" name="Title" value="Mickey"><br>
		<textarea rows="7">
			"blah blah"			
		</textarea>
		<br/>
		<input type="submit" value="Save">
		<input type="reset" value="Reset">
		<a href="#" class="btn btn-medium">Cancel</a>
		<br>
</form>