<div>
	<h3>Uusimmat uutiset</h3>
	<br />
	
	<% @latest_news.each do |news| %>
		<div>
			<span class="news-date"><%= news.published_at.strftime("%d.%m.%Y") %></span>
			<h4><%= news.title %></h4>
			<p><%= truncate(news.body, :length => 80) %></p>	
		</div>
	<% end%>

	<% case current_user.role %>	
	<% when "admin" then %>
		<a class="btn btn-large"><i class="icon-edit"></i> Hallinnoi uutisia</a>
		
	<% when "head_coach" then %>	 
		<a class="btn btn-large"><i class="icon-edit"></i> Hallinnoi uutisia</a>
	
	<% when "team_leader" then %>
		<a class="btn btn-large"><i class="icon-edit"></i> Hallinnoi tiimikalenteria.</a>
	
	<% when "coach" then %>
		<a class="btn btn-large"><i class="icon-edit"></i> Hallinnoi tiimikalenteria.</a>
	
	<% end %>
</div>

<script>
	set_private_nav("landing");
</script>
