<div>
	<h2>Viikkopohja</h2>
	
	<br />
	<br />
	
	<h3>Asetukset</h3>
	
	<br />
	
	<div>
		<table class="table">
			<tbody>
				<tr>
					<th>Valitse joukkue</th>
					<td>
						<select id="team-select">
							<option value="0"></option>
							<% Team.all.each do |team| %>
								<option value="<%= team.id %>"><%= team.name %></option>
							<% end %>
						</select>
					</td>
				</tr>
			</tbody>	
		</table>
		
		<a class="btn btn-large pull-right" id="save-wb-btn" onclick="save_week_base()">Tallenna viikkopohja</a>
		<a class="btn btn-large pull-right action-btn" id="del-mode-btn" onclick="del_mode()">Poista merkintöjä</a>
		<a class="btn btn-large pull-right action-btn" id="clear-wb-btn" onclick="clear_wb()">Tyhjenn&auml; pohja</a>
	</div>

	<br />
	<br />
	<br />
	
	<div id="main-cal-wrapper">
		<%= render :partial => "cal_table", :locals => {:th_date_strs => @th_date_strs, :date_strs => @date_strs, :days => @days}%>
	</div>
</div>

<script>
	$(document).ready(function () {
		make_reservations_mode();
		
		load_week_base_markings();
	});
	
	function make_reservations_mode() {
		$(".reservable").click(function () {
			if ($("#team-select").val() == "0") {
				show_feedback("Valitse ensin tiimi", "error", false, "main-cal-wrapper")
				return;
			}
			
			if ($(this).attr("has-res") == "true") {
				return;
			}
			
			$(this).attr("class", "reservable");
			
			if ($(this).attr("select") == "true") {
				$(this).attr("select", "false");
				$(this).html("");
			} else {
				$(this).html($("#team-select option:selected").text());
				$(this).addClass($("#team-select option:selected").text().replace(' ', ''));
				$(this).attr("team-id", $("#team-select").val());
				$(this).addClass("reserved");
				$(this).addClass("new-res");
				$(this).attr("select", "true");
			}
		});
	}
	
	function del_mode() {
		toggle_buttons("disabled");
		
		$(".reservable").unbind("click");
		
		$(".reservable").click(function () {
			if ($(this).attr("has-res") == "true") {
				if ($(this).attr("select") == "false") {
					$(this).addClass("tb_removed");
					$(this).attr("select", "true");
				} else {
					$(this).removeClass("tb_removed");
					$(this).attr("select", "false");
				}
			}
			
		});
	}
	
	function toggle_buttons(mode) {
		if (mode == "disabled") {
			$(".btn").attr("onclick", "");
			
			$(".btn").attr("disabled", "true");
			$("#team-select").attr("disabled", "true");
			
			$("#del-mode-btn").removeAttr("disabled");
			$("#del-mode-btn").attr("onclick", "confirm_del();");
			$("#del-mode-btn").html("Vahvista poistot");
		} else if (mode == "enabled") {
			$("#team-select").removeAttr("disabled");
			$(".btn").removeAttr("disabled");
			
			$("#del-mode-btn").attr("onclick", "del_mode();");
			$("#save-wb-btn").attr("onclick", "save_week_base();");
			$("#clear-wb-btn").attr("onclick", "clear_wb();");
			
			$("#del-mode-btn").html("Poista jääaikavarauksia");
		}
	}
	
	function confirm_del() {
		var resses = [];
				
		$(".tb_removed").each(function () {
			resses.push({day: $(this).attr("week-day"), starts_at: $(this).attr("time")})
		});
		
		$.post("/delete_week_base_markings", JSON.stringify(resses), function (response) {
				if (response == "success") {
					show_feedback("Merkinnät poistettu onnistuneesti", "success", false, "main-cal-wrapper");
					clear_table();
					load_week_base_markings();
				} else {
					show_feedback("Jotain meni pieleen.", "error", false, "main-cal-wrapper");
					clear_table();
					load_week_base_markings();
				}
			}
		);
		
		toggle_buttons("enabled");
		make_reservations_mode();
	}
	
	function load_week_base_markings(id) {
		var url = "/load_week_base";
		
		$.ajax({
			url: url,
			cache: false,
			success: function (resses) {
				$.each(resses, function(i, res) {
					var res_el = $(".reservable[week-day='" + res.day +  "'][time='" + res.starts_at + "']");
					res_el.addClass("reserved");
					res_el.attr("has-res", "true");
					res_el.attr("team-id", res.id);
					res_el.html(res.team_name);
					res_el.addClass(res.team_name.replace(' ', ''));
				});
			}
		});
	}
	
	function clear_table () {
		var res_els = $(".reservable");
		res_els.attr("class", "reservable");
		res_els.html("");
		res_els.attr("has-res", "false");
		res_els.attr("select", "false");
	}
	
	function save_week_base () {
		if (data_valid_to_save()) {
			var resses = [];
			
			$(".reservable[select='true']").each(function() {			
				resses.push({activity_type: "icetime", day: $(this).attr("week-day"), team_id: $(this).attr("team-id"), starts_at: $(this).attr("time")});
			});
			
			$.post("/save_week_base", JSON.stringify(resses), function (response) {
					if (response == "success") {
						show_feedback("Viikkopohja tallennettu onnistuneesti", "success", false, "main-cal-wrapper")
						clear_table();
						load_week_base_markings();
					} else {
						show_feedback("Jotain meni pieleen.", "error", false, "main-cal-wrapper")
					}
				}
			);	
		} else {
			show_feedback("Yhtään merkintää ei ole tehty.", "error", false, "main-cal-wrapper");
		}
	}
	
	function clear_wb() {
		if (confirm("Halutko varmasti pyyhkäistä koko viikkopohjan? Tapahtumaa EI voi perua.")) {
			$.post("/clear_week_base", function (response) {
					if (response == "success") {
						show_feedback("Viikopohja poistettu onnistuneesti", "success", false, "main-cal-wrapper");
						clear_table();
					} else {
						show_feedback("Jotain meni pieleen.", "error", false, "main-cal-wrapper");
						clear_table();
					}
				}
			);	
		}
	}
	
	function data_valid_to_save() {
		if ($(".reservable[select='true']").length == 0) {
			return false;
		}
		
		return true;
	}
	
	function del () {
		if (something_selected_to_del()) {
			if (confirm("Haluatko varmasti poistaa valitut varaukset? Tapahtumaa EI voi perua.")) {
				var resses = [];
				
				$(".reservable[select='true']").each(function() {			
					resses.push({date: $(this).attr("date-data"), starts_at: $(this).attr("time")})
				});
				
				$.post("/delete_ice_time", JSON.stringify(resses), function (response) {
						if (response == "success") {
							show_feedback("Varaukset poistettu onnistuneesti", "success", false, "main-cal-wrapper")
							clear_table();
							load_table_markings("all");
						} else {
							show_feedback("Jotain meni pieleen.", "error", false, "main-cal-wrapper")
							clear_table();
							load_table_markings("all");
						}
					}
				);	
			}
		} else {
			alert("Joko joukkue ei ole valittu tai yhtään tuntia ei ole valittu");
		}
	}
	
	function something_selected_to_del() {
		if ($(".reservable[select='true']").lenght == 0) {
			return false;
		}
		
		return true;
	}
	
	set_private_nav("week-base");
</script>
