<h2>Joukkueiden hallinta</h2>

<table class="table">
	<thead>
		<tr>
			<th>Nimi</th>
			<th>Koodi</th>
		</tr>
	</thead>
	<tbody>
		<% Team.all.each do |team| %>
			<tr id="team_<%= team.id %>">
				<td><%= team.name %></td>
				<td><%= team.code %></td>
				<td>
					<a class="btn btn-medium" href="/muokkaa_joukkuetta/<%= team.id %>" >Muokkaa</a>
					<a class="btn btn-medium" onclick="">Poista</a>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<script>
	set_private_nav("teams");
</script>
