  <h2>Luo uusi</h2>
  <div>
  	<form action="/add_news" method="post">
		<input type="text" name="Title" value="Mickey"><br>
		<textarea rows="5">
			"blah blah"			
		</textarea>
		<br/><input type="submit" value="Submit"><br>
</form>
  </div>
  <h2>Julkaistut uutiset</h2>
  <table class="table">
  	<tr>
  		<th>Päivämäärä</th>
  		<th>Otsikko</th>
 		<th>Sisältö</th> 
  		<td></td>
  	</tr>
  	<tr>
  		<td>18.9.1989</td>
  		<td>Klassinen vuosi</td>
  		<td>Lorem ipsum dolor sit amet consecterur etc etc etc</td>
  		<td>
  			<a href="#" class="btn btn-medium">Muokkaa</a>
  			<a href="#" class="btn btn-medium">Poista</a>
  		</td>
  	</tr>
  </table>
  