
<table class="table">
	<tr>
		<th>Etunimi</th>
		<th>Sukunimi</th>
		<th>Email</th>
		<th>Puh.</th>
		<th>Rooli</th>
		<td></td>
	</tr>
	<tr>
		<td>Antti</td>
		<td>Halonen</td>
		<td>antti.halonen@pelicans2k.fi</td>
		<td>0401568794</td>
		<td>...</td>
		<td>
  			<a href="#" class="btn btn-medium">Muokkaa</a>
  			<a href="#" class="btn btn-medium">Poista</a>
  		</td>
	</tr>
