<% case current_user.role %>
					<% when "admin" then %>
					<table class="table" >
					
					<tr>
					<th>Valitse joukkue jolle valitut tunnit varataan</th>
					<td>
						<select id="save-to-team-select">
							<option value="0"></option>
							<% Team.all.each do |team| %>
								<option value="<%= team.id %>"><%= team.name %></option>
							<% end %>
						</select>
					</td>
					</tr>
					</table>
				
<table class="table">
	<tr>
		<th>Rooli</th>
		<th>Etunimi</th>
		<th>Sukunimi</th>
		<th>Email</th>
		<th>Puh.</th>
		<td></td>
	</tr>
	<tr>
		<td>Valmentaja</td>
		<td>Antti</td>
		<td>Halonen</td>
		<td>antti.halonen@pelicans2k.fi</td>
		<td>0401568794</td>
		<td>
  			<a href="#" class="btn btn-medium">Muokkaa</a>
  			<a href="#" class="btn btn-medium">Poista</a>
  		</td>
	</tr>
	</table>
	
	<% when "team_leader" then %>
	<table class="table">
		<tr>
		<th>Rooli</th>
		<th>Etunimi</th>
		<th>Sukunimi</th>
		<th>Email</th>
		<th>Puh.</th>
		<td></td>
	</tr>
	<tr>
		<td>Valmentaja</td>
		<td>Antti</td>
		<td>Halonen</td>
		<td>antti.halonen@pelicans2k.fi</td>
		<td>0401568794</td>
		<td>
  			<a href="#" class="btn btn-medium">Muokkaa</a>
  			<a href="#" class="btn btn-medium">Poista</a>
  		</td>
	</tr>
	</table>
			
	<% end %>

