<h2>Uuden salasanan luonti</h2>

<table class="table">
	<thead>
		<tr>
			<th>Tunnus/email</th>
			<th>Uusi salasana</th>
			<th>Salasanan vahvistus</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @user.email %></td>
			<td><input type="password"  class="input-medium" placeholder="salasana" id="password" /></td>
			<td><input type="password" class="input-medium" placeholder="vahvistus" id="password-confirmation" /></td>
		</tr>
	</tbody>
</table>

<a class="btn btn-large pull-right" onclick="save()">Tallenna</a>
<a href="/kayttajien_hallinta" class="btn btn-large pull-right btn-margin-right">Peruuta</a>
<div style="clear:both"></div>

<script>
	function save() {
		if (data_valid_to_save()) {
			var pw = {id: <%= @user.id %>, pw: $("#password").val()}
			$.post("/save_new_password", JSON.stringify(pw), function (response) {
				
			});
		}
	}
	
	function data_valid_to_save () {
		var password = $("#password").val();
		var password_confirmation = $("#password-confirmation").val();
		
		if (password != password_confirmation) {
			alert("Salasanan ja salasanavahvistuksen täytyy olla samat.");
			return false;
		}
		 
		return true;
	}
</script>