<div class="span2">
	<div class="section">
		<ul class="nav nav-stacked nav-pills">
			<li id="contacts"><a href="/yhteystiedot">Yhteystiedot</a></li>
			<li id="partners"><a href="/kumppanit">Yhteistyökumppanit</a></li>
			<li id="strategy"><a href="/strategia">Strategia</a></li>
			<li id="feesnbenefits"><a href="/edutmaksut">Edut / maksut pelaajille</a></li>
		</ul>
	</div>
</div>