<div class="span2">
	<div class="section">
		<ul class="nav nav-stacked nav-pills">
			<li class="active"><a href="#">Yhteystiedot</a></li>
			<li><a href="#">Yhteistyökumppanit</a></li>
			<li><a href="#">Strategia</a></li>
			<li><a href="#">Edut / maksut pelaajille</a></li>
		</ul>
	</div>
</div>

<div class="span8">
	<div class="section">
		<h2>Yhteystietoja</h2>
		
		<br />
		
		<p>
			Pelicans 2000 Hollola ry on jääkiekon erikoisseura, jonka toiminta-ajatuksena on tarjota lapsille ja nuorille
			mahdollisuus harrastaa jääkiekkoa oman taitotasonsa ja halunsa mukaisesti. Toiminta tapahtuu
			ensisijaisesti <a href="http://www.hollola.fi/tekninen/liikunta/jaahalli.htm">Hollolan jäähallissa.</a> <a href="http://pelicans2000.fi/kartta.htm">Kartta jäähallille.</a>
		</p>
		
		<p>
			<strong>Yhteystiedot:</strong><br />
			Pelicans 2000 Hollola ry<br />
			Heinsuon Urheilukeskus, Tiilijärventie 9<br />
			15870 Hollola<br />
			
			<br />
			
			Johtokunta<br />
			Yhteistyökumppanit<br />
			Strategia 2010-2014     <br /> 
			Edut /maksut pelaajille  <br />
			
			<br /> 
			 	
			Valmennuspäällikkö: Marko Sykkö<br />
			valmennuspaallikko(at)pelicans2000.fi<br />
			puh: 040 - 1492 610<br />
			
			<br />
			 
			Tyttökiekkovastaava: Hanna Olkinuora<br />
			hanna.olkinuora(at)finhockey.fi<br />
			puh: 044 - 3077 898
			<br />
		</p>
	</div>
</div>

<!-- 
<div class="span2">
	
</div>
-->

<script>
	set_navbar("club");
</script>
