<div class="span2">
	<div class="section">
		<div class="well" style="max-width: 220px; padding: 8px 0;">
			<%= render :partial => "teams_inner_nav" %>
		</div>
	</div>
</div>

<div class="span8">
	<div class="section">
	  <h2>Valmennustoiminta</h2>
		<p>Valmennuspäällikkö : Marko Sykkö	  <br />
	  Sähköposti : valmennuspaallikko (ät) pelicans2000.fi<br />
	  Puhelin : 040-149 2610</p>
      <table width="800" border="0">
	      <tr>
	        <td width="150">Naiset:</td>
	        <td>&nbsp;</td>
	        <td width="150">&nbsp;</td>
	        <td width="250">&nbsp;</td>
        </tr>
	      <tr>
	        <td width="150">A-nuoret</td>
	        <td>&nbsp;</td>
	        <td width="150">&nbsp;</td>
	        <td width="250">&nbsp;</td>
        </tr>
	      <tr>
	        <td width="150">B-nuoret</td>
	        <td>&nbsp;</td>
	        <td width="150">&nbsp;</td>
	        <td width="250">&nbsp;</td>
        </tr>
	      <tr>
	        <td width="150">C1-98</td>
	        <td>&nbsp;</td>
	        <td width="150">&nbsp;</td>
	        <td width="250">&nbsp;</td>
        </tr>
	      <tr>
	        <td width="150">D1-00</td>
	        <td>&nbsp;</td>
	        <td width="150">&nbsp;</td>
	        <td width="250">&nbsp;</td>
        </tr>
	      <tr>
	        <td width="150">D2-01</td>
	        <td>&nbsp;</td>
	        <td width="150">&nbsp;</td>
	        <td width="250">&nbsp;</td>
        </tr>
	      <tr>
	        <td width="150">E1-02</td>
	        <td>Taneli Tiira</td>
	        <td width="150">050-594 9345</td>
	        <td width="250">tiira.taneli / gmail.com</td>
        </tr>
	      <tr>
	        <td width="150">E2-03</td>
	        <td>&nbsp;</td>
	        <td width="150">&nbsp;</td>
	        <td width="250">&nbsp;</td>
        </tr>
	      <tr>
	        <td width="150">F1-04</td>
	        <td>&nbsp;</td>
	        <td width="150">&nbsp;</td>
	        <td width="250">&nbsp;</td>
        </tr>
	      <tr>
	        <td width="150">F2-05</td>
	        <td>&nbsp;</td>
	        <td width="150">&nbsp;</td>
	        <td width="250">&nbsp;</td>
        </tr>
	      <tr>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
        </tr>
	      <tr>
	        <td width="150">Luistelukoulu</td>
	        <td>&nbsp;</td>
	        <td width="150">&nbsp;</td>
	        <td width="250">&nbsp;</td>
        </tr>
	      <tr>
	        <td width="150">Leijona kiekkokoulu</td>
	        <td>&nbsp;</td>
	        <td width="150">&nbsp;</td>
	        <td width="250">&nbsp;</td>
        </tr>
      </table>
      <p>&nbsp;</p>
	  <p><br />
	  </p>
  </div>
</div>

<div class="span2">
	<div class="section">
		<h3>Seuran jäät</h3>
		
		<img src="/assets/cal_logo.png" alt="Icetime calendar link logo" id="calendar-img-link" onclick="window.location = '/paakalenteri'" />
		
		<br />
		
	</div>
</div>



<script>
	set_navbar("teams");
	set_inner_nav("coaching")
</script>
