<div class="span2">
	<div class="section">
		<div class="well" style="max-width: 220px; padding: 8px 0;">
			<%= render :partial => "teams_inner_nav" %>
		</div>
	</div>
</div>

<div class="span8">
	<div class="section">
	  <h2>Valmennustoiminta</h2>
		<p>Valmennuspäällikkö : Marko Sykkö	  <br />
	  Sähköposti : valmennuspaallikko (ät) pelicans2000.fi<br />
	  Puhelin : 040-149 2610</p>
      <table width="800" border="0">
	      <tr>
	        <td width="150">Naiset:</td>
	        <td>Jonna Aitta-Aho</td>
	        <td width="150">046-886 8058</td>
	        <td width="250">jonna.aitta-aho(at)phnet.fi</td>
        </tr>
	      <tr>
	        <td width="150">B-nuoret</td>
	        <td>Toni Rask</td>
	        <td width="150">044-965 0773</td>
	        <td width="250">toni_rask(at)hotmail.com</td>
        </tr>
	      <tr>
	        <td width="150">C1-98</td>
	        <td>Teemu Leppänen</td>
	        <td width="150">040-825 6631</td>
	        <td width="250">teemu.k.leppanen(at )gmail.com</td>
        </tr>
	      <tr>
	        <td width="150">D1-00</td>
	        <td>Miikka Salminen</td>
	        <td width="150">050-566 8181</td>
	        <td width="250">miikka.salminen(at)phnet.fi</td>
        </tr>
	      <tr>
	        <td width="150">D2-01</td>
	        <td>Erno Mustonen</td>
	        <td width="150">050-469 7750</td>
	        <td width="250">erno.mustonen(at)siemens.com</td>
        </tr>
	      <tr>
	        <td width="150">E1-02</td>
	        <td>Taneli Tiira</td>
	        <td width="150">050-594 9345</td>
	        <td width="250">tiira.taneli(at)gmail.com</td>
        </tr>
	      <tr>
	        <td width="150">F1-04</td>
	        <td>Janne Saarinen</td>
	        <td>040-708 4668</td>
	        <td>junioripaallikko(at)pelicans2000.fi </td>
        </tr>
	      <tr>
	        <td width="150">F2-05</td>
	        <td>Sauli Tiensuu</td>
	        <td width="150">0400-334 038</td>
	        <td width="250">sauli.tiensuu(at)scantra.fi</td>
        </tr>
	      <tr>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
        </tr>
	      <tr>
	        <td width="150">Luistelukoulu</td>
	        <td>Janne Saarinen</td>
	        <td width="150">040-708 4668</td>
	        <td width="250">junioripaallikko(at)pelicans2000.fi </td>
        </tr>
	      <tr>
	        <td width="150">Leijona kiekkokoulu</td>
	        <td>Janne Saarinen</td>
	        <td width="150">040-708 4668</td>
	        <td width="250">junioripaallikko(at)pelicans2000.fi </td>
        </tr>
      </table>
      <p>&nbsp;</p>
	  <p><br />
	  </p>
  </div>
</div>

<div class="span2">
	<div class="section">
		<h3>Seuran jäät</h3>
		
		<img src="/assets/cal_logo.png" alt="Icetime calendar link logo" id="calendar-img-link" onclick="window.location = '/paakalenteri'" />
		
		<br />
		
	</div>
</div>



<script>
	set_navbar("teams");
	set_inner_nav("coaching")
</script>
