<div class="span2">
	<div class="section">
		<div class="well" style="max-width: 220px; padding: 8px 0;">
			<%= render :partial => "teams_inner_nav" %>
		</div>
	</div>
</div>

<div class="span8">
	<div class="section">
	  <h2>Valmennustoiminta</h2>
		<p>Valmennuspäällikkö : Janne Saarinen<br />
	  Sähköposti : valmennuspaallikko (ät) pelicans2000.fi<br />
	  Puhelin : 040-708 4668</p>
      <table width="800" border="0">
	      <tr>
	        <td width="150">Naiset</td>
	        <td>Mika Lahtela</td>
	        <td width="150">044-261 0032</td>
	        <td width="250">lahtela.mika@gmail.com</td>
        </tr>
	      <tr>
	        <td width="150">C-tytöt</td>
	        <td>&nbsp;</td>
	        <td width="150">&nbsp;</td>
	        <td width="250">&nbsp;</td>
        </tr>
	      <tr>
	        <td width="150">B-nuoret</td>
	        <td>Kari Mäkitalo</td>
	        <td width="150">040-581 5266</td>
	        <td width="250">kari.makitalo(at)sport1.fi</td>
        </tr>
	      <tr>
	        <td width="150">C2-00 Teho</td>
	        <td>Kimmo Tähtinen</td>
	        <td width="150">044-704 4400</td>
	        <td width="250">kimmo_tahtinen(at)phnet.fi</td>
        </tr>
	      <tr>
	        <td width="150">D1-01</td>
	        <td>Ross Lambert</td>
	        <td width="150">041-545 1492</td>
	        <td width="250">lambert9(a)yahoo.com</td>
        </tr>
	      <tr>
	        <td width="150">D2-02</td>
	        <td>Toni Rask</td>
	        <td>044-965 0773</td>
	        <td>toni_rask(at)hotmail.com</td>
        </tr>
	      <tr>
	        <td>E2-04</td>
	        <td>Marko Helosaari</td>
	        <td>040-729 2223</td>
	        <td>marko.helosaar(at)hotmail.com</td>
        </tr>
	      <tr>
	        <td width="150">F1-04</td>
	        <td>Janne Saarinen</td>
	        <td>040-708 4668</td>
	        <td>junioripaallikko(at)pelicans2000.fi </td>
        </tr>
	      <tr>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
        </tr>
	      <tr>
	        <td width="150">Luistelukoulu</td>
	        <td>Kari &quot;Taawi&quot; Takala</td>
	        <td width="150">040 - 149 2610</td>
	        <td width="250">junioripaallikko(at)pelicans2000.fi </td>
        </tr>
	      <tr>
	        <td width="150">Leijona kiekkokoulu</td>
	        <td>Kari &quot;Taawi&quot; Takala</td>
	        <td width="150">040 - 149 2610</td>
	        <td width="250">junioripaallikko(at)pelicans2000.fi </td>
        </tr>
      </table>
      <p>&nbsp;</p>
	  <p><br />
	  </p>
  </div>
</div>

<div class="span2">
	<div class="section">
		<h3>Seuran jäät</h3>
		
		<img src="/assets/cal_logo.png" alt="Icetime calendar link logo" id="calendar-img-link" onclick="window.location = '/paakalenteri'" />
		
		<br />
		
	</div>
</div>



<script>
	set_navbar("teams");
	set_inner_nav("coaching")
</script>
