<%= render :partial => "club_inner_nav" %>

<div class="span8">
	<div class="section">
		<h2>Yhteystietoja</h2>
		
		<br />
		
		<p>
			Pelicans 2000 Hollola ry on jääkiekon erikoisseura, jonka toiminta-ajatuksena on tarjota lapsille ja nuorille
			mahdollisuus harrastaa jääkiekkoa oman taitotasonsa ja halunsa mukaisesti. Toiminta tapahtuu
			ensisijaisesti <a href="http://www.hollola.fi/tekninen/liikunta/jaahalli.htm">Hollolan jäähallissa.</a> <a href="http://pelicans2000.fi/kartta.htm">Kartta jäähallille.</a>
		</p>
		
		<p>
			<strong>Yhteystiedot:</strong><br />
			Pelicans 2000 Hollola ry<br />
			Heinsuon Urheilukeskus, Tiilijärventie 9<br />
	  15870 Hollola</p>
		<p><strong>Johtokunta, alkaen marraskuu 2011:</strong><br />
	    Yhdistyksen syyskokous valitsee johtokunnan</p>
		<table border="0" cellpadding="0" cellspacing="0" height="141" width="72%" class="table">
		  <tbody>
		    <tr>
		      <td height="16" width="25%"><p>Jukka Rokio</p></td>
		      <td height="16" width="10%">Puheenjohtaja</td>
		      <td height="16" width="50%">050 - 3694 868  jukka.rokio(AT)lamk.fi</td>
		      <td height="16" width="5%">D - 00</td>
	        </tr>
		    <tr>
		      <td height="16" width="25%"><p>Pasi Kuntonen</p></td>
		      <td height="16" width="10%">Varapuheenjohtaja</td>
		      <td height="16" width="50%">0440 - 501 488  pasi.kumtonen(AT)finax.se</td>
		      <td height="16" width="5%">D - 01</td>
	        </tr>
		    <tr>
		      <td height="16" width="25%"><p>Timo Lehtinen</p></td>
		      <td height="16" width="10%">Huolto, Nettisivut</td>
		      <td height="16" width="50%">045 - 1373 573  lehtinen.timo(AT)kolumbus.fi</td>
		      <td height="16" width="5%">E - 02</td>
	        </tr>
		    <tr>
		      <td height="16" width="25%"><p>Tommi Laitinen</p></td>
		      <td height="16" width="10%">Sihteeri</td>
		      <td height="16" width="50%">050 - 400 4791  tommi.laitinen(AT)flexolahti.fi</td>
		      <td height="16" width="5%">E - 03</td>
	        </tr>
		    <tr>
		      <td height="14" width="25%"><p>Harri Mäki-Saari</p></td>
		      <td height="14" width="10%">Varainhankinta</td>
		      <td height="14" width="50%">044 - 7517 224  harri.maki-saari(AT)lahtienergia.fi</td>
		      <td height="14" width="5%">D - 00</td>
	        </tr>
		    <tr>
		      <td height="16" width="25%"><p>Osmo Kääriäinen</p></td>
		      <td height="16" width="10%">Varainhankinta</td>
		      <td height="16" width="50%">050 - 4022 294  osmo.kaariainen(AT)laakkonen.fi</td>
		      <td height="16" width="5%">C - 99</td>
	        </tr>
		    <tr>
		      <td height="15" width="25%"><p>Antti Sukuvaara</p></td>
		      <td height="15" width="10%">Talousvastaava</td>
		      <td height="15" width="50%">040 - 7726 689  antti.sukuvaara(AT)sako.fi</td>
		      <td height="15" width="5%">C - 98</td>
	        </tr>
		    <tr>
		      <td height="16" width="25%"><p>Miikka Salminen</p></td>
		      <td height="16" width="10%">Junioripäällikkö</td>
		      <td height="16" width="50%">050 - 5668 181  miikka.salminen(AT)phnet.fi</td>
		      <td height="16" width="5%">Seura</td>
	        </tr>
	      </tbody>
	  </table>
<p><br /> 
			 	
			Valmennuspäällikkö: Marko Sykkö<br />
			valmennuspaallikko(at)pelicans2000.fi<br />
	  puh: 040 - 1492 610<br />
</p>
<p>Seuran kahviovastaava Tiina Lehtinen 050-331 7002 , lehtinen.tiina(at)kolumbus.fi</p>
<p><br />
  <strong>Seuran jäsenmaksut:</strong></p>
<p>Henkilöjäsenmaksu 35€<br />
  Perhejäsenmaksu 50€</p>
<p>Jäsentietolomakkeita saa joukkueenjohtajilta ja rahastonhoitajilta</p>
<p>Myös tästä voi kopioida jäsentietolomakkeen: <a target="_blank" href="/docs/jasen_lomake.pdf">pdf</a> <img src="/pics/pdf.gif" alt="" width="16" height="16" border="0" /> tai <a target="_blank" href="/docs/jasen_lomake.doc">Word</a> <img src="/pics/word.gif" alt="" width="16" height="16" border="0" />.</p>
<p><strong>Seuran jäsenmäärä: n.520</strong></p>
<p><br />
  <br />
</p>
	</div>
</div>

<!-- 
<div class="span2">
	
</div>
-->

<script>
	set_navbar("contacts");
	set_navbar("club");
</script>