<%= render :partial => "club_inner_nav" %>
<link href="assets/stylesheets/application.css" rel="stylesheet" type="text/css" />


<div class="span8">
	<div class="section">
		<h2>Yhteystietoja</h2>
		
		<br />
		
		<p>
			Pelicans 2000 Hollola ry on jääkiekon erikoisseura, jonka toiminta-ajatuksena on tarjota lapsille ja nuorille
			mahdollisuus harrastaa jääkiekkoa oman taitotasonsa ja halunsa mukaisesti. Toiminta tapahtuu
			ensisijaisesti <a href="http://www.hollola.fi/tekninen/liikunta/jaahalli.htm">Hollolan jäähallissa.</a> <a href="http://pelicans2000.fi/kartta.htm">Kartta jäähallille.</a>
		</p>
		
		<p>
			<strong>Yhteystiedot:</strong><br />
			Pelicans 2000 Hollola ry<br />
			Heinsuon Urheilukeskus, Tiilijärventie 9<br />
	  15870 Hollola</p>
		<p><strong>Johtokunta, alkaen marraskuu 2011:</strong><br />
	    Yhdistyksen syyskokous valitsee johtokunnan</p>
		<table border="0" cellpadding="0" cellspacing="0" height="109" width="70%" class="table">
		  <tbody>
		    <tr>
		      <td height="16" width="24%"><p>Jouni Nieminen</p></td>
		      <td height="16" width="17%">Puheenjohtaja</td>
		      <td height="16" width="47%"><p>0400 - 780 557  jouni.nieminen(at)phnet.fi</p></td>
		      <td height="16" width="12%">D - 02</td>
	        </tr>
		    <tr>
		      <td height="16" width="24%"><p>Timo Lehtinen</p></td>
		      <td height="16" width="17%">Huolto, Nettisivut</td>
		      <td height="16" width="47%">045 - 137 3573  lehtinen.timo(at)kolumbus.fi</td>
		      <td height="16" width="12%">D - 02</td>
	        </tr>
		    <tr>
		      <td height="16" width="24%"><p>Tommi Laitinen</p></td>
		      <td height="16" width="17%">Varainhankinta</td>
		      <td height="16" width="47%">050 - 4004 791  tommi.laitinen(at)flexolahti.fi</td>
		      <td height="16" width="12%">E - 03</td>
	        </tr>
		    <tr>
		      <td height="14" width="24%"><p>Harri Mäki-Saari</p></td>
		      <td height="14" width="17%">Varainhankinta</td>
		      <td height="14" width="47%">044 - 751 7224  harri.maki-saari(at)lahtienergia.fi</td>
		      <td height="14" width="12%">C - 00</td>
	        </tr>
		    <tr>
		      <td height="16"><p>Pasi Kuntonen</p></td>
		      <td height="16">Sihteeri</td>
		      <td height="16">0440 - 501 488  pasi.kumtonen(at)phnet.fi</td>
		      <td height="16">D - 01</td>
	        </tr>
		    <tr>
		      <td height="15" width="24%"><p>Antti Sukuvaara</p></td>
		      <td height="15" width="17%">Talousvastaava</td>
		      <td height="15" width="47%">040 - 772 6689  anttisukuvaara(at)gmail.com</td>
		      <td height="15" width="12%">D - 02</td>
	        </tr>
		    <tr>
		      <td height="16" width="24%"><p>Miikka Salminen</p></td>
		      <td height="16" width="17%">Nuorisovastaava</td>
		      <td height="16" width="47%">050 - 566 8181  miikka.salminen(at)phnet.fi</td>
		      <td height="16" width="12%">seura</td>
	        </tr>
	      </tbody>
	  </table>
<p><br /> 
			 	
			Valmennuspäällikkö: Janne Saarinen<br />
			valmennuspaallikko(at)pelicans2000.fi<br />
	  puh: 040-708 4668</p>
<p>Junioripäällikkö: Kari Takala<br />
  junioripaallikko(at)pelicans2000.fi
    <br />
    puh. 040 - 149 2610</p>
<p>Seuran kahviovastaava: Tiina Lehtinen<br />
 lehtinen.tiina(at)kolumbus.fi<br />
 puh: 050-331 7002</p>
<p><br />
  <strong>Seuran jäsenmaksut:</strong></p>
<p>Henkilöjäsenmaksu 35 euroa<br />
  Perhejäsenmaksu 50 euroa</p>
<p>Jäsentietolomakkeita saa joukkueenjohtajilta ja rahastonhoitajilta</p>
<p>Myös tästä voi kopioida jäsentietolomakkeen: <a target="_blank" href="/docs/jasen_lomake.pdf">pdf</a>  tai <a href="/docs/jasen_lomake.doc" target="_blank">Word</a> </p>
<p><strong>Seuran jäsenmäärä: n.520</strong></p>
<p><br />
  <br />
</p>
	</div>
</div>

<!-- 
<div class="span2">
	
</div>
-->

<script>
	set_navbar("contacts");
	set_navbar("club");
</script>