<div class="span12">
	<div class="section">
		<div>
			<h2 id="craigslist-header">Kamap&ouml;rssi</h2>
			
			<a class="btn btn-large" id="craigslist-new-btn" href="/kamaporssi/uusi">Jätä ilmoitus</a>
			<div class="clearfix"></div>
		</div>
		
		<div class="vertical-divider"></div>
		
		<div class="craigslist-item">
			<span class="date-left">25.3.2013</span>
			
			<div class="free-text">
				Hjuvakuntoista tavaraa.
			</div>
			
			<br />
			
			<ul>
				<li>
					BLachadsflkasdnflkdsnflkandlfksdlf
				</li>
				<li>
					BLachadsflkasdnflkdsnflkandlfksdlf
				</li>
				<li>
					BLachadsflkasdnflkdsnflkandlfksdlf
				</li>
				<li>
					BLachadsflkasdnflkdsnflkandlfksdlf
				</li>
			</ul>
			
			<span class="contact-info">0445012595 / Juho</span>
		</div>
		
		<div class="vertical-divider"></div>
		
		<div class="craigslist-item">
			<span class="date-left">25.3.2013</span>
			
			<div class="free-text">
				Hjuvakuntoista tavaraa.
			</div>
			
			<br />
			
			<ul>
				<li>
					BLachadsflkasdnflkdsnflkandlfksdlf
				</li>
				<li>
					BLachadsflkasdnflkdsnflkandlfksdlf
				</li>
				<li>
					BLachadsflkasdnflkdsnflkandlfksdlf
				</li>
				<li>
					BLachadsflkasdnflkdsnflkandlfksdlf
				</li>
			</ul>
			
			<span class="contact-info">0445012595 / Juho</span>
		</div>
		
		<div class="vertical-divider"></div>
		
		<div class="craigslist-item">
			<span class="date-left">25.3.2013</span>
			
			<div class="free-text">
				Hjuvakuntoista tavaraa.
			</div>
			
			<br />
			
			<ul>
				<li>
					BLachadsflkasdnflkdsnflkandlfksdlf
				</li>
				<li>
					BLachadsflkasdnflkdsnflkandlfksdlf
				</li>
				<li>
					BLachadsflkasdnflkdsnflkandlfksdlf
				</li>
				<li>
					BLachadsflkasdnflkdsnflkandlfksdlf
				</li>
			</ul>
			
			<span class="contact-info">0445012595 / Juho</span>
		</div>
		
		<div class="vertical-divider"></div>
		
		<div class="craigslist-item">
			<span class="date-left">25.3.2013</span>
			
			<div class="free-text">
				Hjuvakuntoista tavaraa.
			</div>
			
			<br />
			
			<ul>
				<li>
					BLachadsflkasdnflkdsnflkandlfksdlf
				</li>
				<li>
					BLachadsflkasdnflkdsnflkandlfksdlf
				</li>
				<li>
					BLachadsflkasdnflkdsnflkandlfksdlf
				</li>
				<li>
					BLachadsflkasdnflkdsnflkandlfksdlf
				</li>
			</ul>
			
			<span class="contact-info">0445012595 / Juho</span>
		</div>
	</div>
</div>
