<%= render :partial => "club_inner_nav" %>

<div class="span8">
	<div class="section">
		<h2>PELICANS 2000 RY MAKSUT JA EDUT PELAAJALLE/JOUKKUEELLE</h2>
      <p>		  YKSITTÄISTÄ PELAAJAA KOSKEVAT SUORITTEET SEURAA/JOUKKUETTA KOHTAAN:</p>
      <ul>
          <li>            JÄSENMAKSU suoritetaan joukkueen kautta seuralle</li>
          <li> KAUSIMAKSU Peritään joko kuukausittain tai erissä kauden aikana joukkueet 
            päättävät ja 
            budjetoivat itse tämän suuruuden</li>
          <li> LISENSSI oikeuttaa pelaamaan jääkiekkoliiton alaisia sarjoja</li>
        </ul>
      <p>JOUKKUEEN KAUTTA SUORITETTAVAT MAKSUT</p>
        
      <ul>
          <li> SEURAMAKSU määritetään johtokunnan toimesta</li>
          <li> KAUSIKIRJAN TEKO Joukkueiden kautta suoritettava omavastuu osuus kausikirjan/valokuvauksen kustannuksista</li>
          <li> SARJAMAKSUT oikeuttavat joukkueen osallistumaan liitonalaisiin sarjoihin</li>
          <li> Joukkueet saattavat järjestää omia tapahtumia tai hankintoja, joista joukkue tiedottaa sisällään            jäseniään ja laskuttaa nämä kustannukset sisäisesti</li>
        </ul>
        <p>MAKSUILLA SAATAVAT EDUT</p>
        <ul>
          <li> SAAT EDUSTUSOIKEUDEN PELICANS 2000 RY:EEN</li>
          <li> VALMENNUSPÄÄLLIKÖN PALVELUT mm:<br />
            1. Joukkueiden muodostus<br />
            2. valmentajien valinta ja koordinointi<br />
            3. pelaajakartoitus<br />
            4. urheilutoimeen liittyvä hallinnointi</li>
          <li> JÄÄVUOROT, HARJOITUKSET, SARJAPELIT JA TURNAUKSET</li>
          <li> MAHDOLLISUUDEN PÄÄSTÄ PELICANS TIELLÄ ETEENPÄIN<br />
            1. tehoryhmät<br />
            2. tasojoukkueet<br />
            3. erityisjäät</li>
          <li> VALMENNUKSEN/OHJAUKSEN</li>
          <li> SINULLE SOPIVAN RYHMÄN OLET SITTEN VASTA- ALKAJA TAI OSAAVA PELIMIES</li>
          <li> HYVÄT OLOSUHTEET TOIMIA JA HARJOITELLA KOKOAJAN KEHITTYVÄSSÄ JUNIORISEURASSA </li>
        </ul>
<p>&nbsp;</p>
	</div>
</div>

<!-- 
<div class="span2">
	
</div>
-->

<script>
	set_navbar("feesnbenefits");
	set_navbar("club");
</script>

