<div class="span2">
	<div class="section">
		<div class="well" style="max-width: 220px; padding: 8px 0;">
			<%= render :partial => "teams_inner_nav" %>
		</div>
	</div>
</div>

<div class="span8">
	<div class="section">
		<h2>Tyttökiekkokoulu</h2>
		
		<br />
		
	</div>
</div>

<div class="span2">
	<div class="section">
		<h3>Seuran jäät</h3>
		
		<img src="/assets/cal_logo.png" alt="Icetime calendar link logo" id="calendar-img-link" onclick="window.location = '/paakalenteri'" />
		
		<br />
		
	</div>
</div>



<script>
	set_navbar("teams");
	set_inner_nav("girlhockey")
</script>
