<div class="span12">
	<div class="section">
<h2>Materiaalipankki</h2>
<div align="left">
  <table width="800" border="0">
    <tr>
      <td><a href="/docs/Aloittelevan_kiekkoilijan_opas.pdf" target="_blank">Aloittelevan kiekkoilijan opas -pdf muodossa</a></td>
      </tr>
    <tr>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>&nbsp;</td>
      </tr>
  </table>
</div>
	  <blockquote>
	    <p>&nbsp;</p>
      </blockquote>
  </div>
</div>

<script>
	set_navbar("links");
</script>
