<style type="text/css">
<!--
.teksti {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
}
-->
</style>
<div class="span12">
	<div class="section">
<h2>Materiaalipankki</h2>
<div align="left">
  <table width="800" border="0">
    <tr>
      <td>Pelicans2000 seuran j&auml;sentietolomake<a href="/docs/jasen_lomake.pdf" target="_blank" class="teksti">-pdf muodossa</a> , <a href="/docs/jasen_lomake.doc" target="_blank" class="teksti">-word muodossa</a></td>
      </tr>
    <tr>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>Pelicanstie <a href="/docs/pelicanstie.pdf" target="_blank" class="teksti">-pdf muodossa</a></td>
    </tr>
    <tr>
      <td>Aloittelevan kiekkoilijan opas <a href="/docs/Aloittelevan_kiekkoilijan_opas.pdf" target="_blank" class="teksti">-pdf muodossa</a></td>
    </tr>
    <tr>
      <td class="teksti">P&auml;ij&auml;t-H&auml;meen j&auml;&auml;kiekkoseurojen pelis&auml;&auml;nn&ouml;t <a href="/docs/p-h_pelisaannot.pdf" target="_blank" class="teksti">-pdf muodossa</a></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
  </table>
</div>
	  <blockquote>
	    <p>&nbsp;</p>
      </blockquote>
  </div>
</div>

<script>
	set_navbar("links");
</script>
