<%= render :partial => "club_inner_nav" %>

<div class="span8">
	<div class="section">
		<h2>Yhteistyökumppanit</h2>
		
		<br />
		
		<p align="center">
		Pelicans 2000 Hollola ry tarvitsee taloudellista tukea jotta voimme tarjota laadukasta palvelua jääkiekon harrastajille.<br />
		Tällä hetkellä seuraamme tukevat:</p>
		<p align="center">&nbsp;</p>
		<p align="center"><img src="pics/lamminOP.jpg" alt="op" name="op" id="op" /></p>
<p align="center">Parasta palvelua elämän eri tilanteisiin !</p>
<p align="center">&nbsp;</p>
		<p align="center"><a href="http://www.if.fi/web/fi/henkiloasiakkaat/pages/default.aspx" target="_blank"><img src="pics/if.jpg" width="117" height="116" alt="if" /></a></p>
		<p align="center">Turvaa Lapsesi myös hallin ulkopuolella !<br />
		  Tapaturmavakuutus lapselle alkaen 20 €/vuosi<br />
	    Kysy lisää: IF Lahti / Heidi Pakkanen 010 514 8758</p>
	  <p align="center">&nbsp;</p>
		<p align="center"><a href="http://www.bauer.com/" target="_blank"><img src="pics/bauer.jpg" width="366" height="57" alt="bauer" /></a></p>
		<p align="center">Korkea laatuisia urheiluvälineitä !</p>
		
		<p>&nbsp;</p>
	</div>
</div>

<!-- 
<div class="span2">
	
</div>
-->

<script>
	set_navbar("club");
	set_navbar("partners");
</script>
