<div class="span12">
	<div class="section">
	  <h2>S&auml;&auml;nt&ouml;sivut</h2>
	  <p>Lataa t&auml;st&auml; seuran voimassa olevat&nbsp;<a href="/docs/Pelicans2k_Aapinen2013.pdf" target="_blank">PELIS&Auml;&Auml;NN&Ouml;T</a>&nbsp;<strong><img src="/pics/pdf.gif" alt="" width="16" height="16" border="0" /></strong>&nbsp;(p&auml;ivitetty&nbsp;11.6.)</p>
		<p>&nbsp;</p>
		<h2>Pelicanstie</h2>
<p>Pelicanstie on Pelicansin ja P&auml;ij&auml;t-H&auml;meen junioriseurojen yhteinen projekti alueen juniorikiekkoilun kehitt&auml;miseksi. Tavoitteina on junioripelaajien kehitt&auml;minen <br />
  kohti Pelicansin liigajoukkuetta, seurojen v&auml;listen yhteisty&ouml;mahdollisuuksien etsiminen ja alueellisen yhteistoiminnan rakentaminen ja kehitt&auml;minen. <br />
  Projektia 
  koordinoi Kansainv&auml;linen j&auml;&auml;kiekon kehityskeskus.</p>
<p>Pelicansin kasvattajaseurana ja yhteisty&ouml;kumppanina toimii Kiekkoreipas</p>
<p>Kiekkoreipas, Lahti&nbsp;<a target="_blank" href="http://www.kiekkoreipas.fi/">www.kiekkoreipas.fi</a></p>
<p>Pelicans 2000, Hollola&nbsp;<a target="_blank" href="http://www.pelicans2000.fi/">www.pelicans2000.fi</a><br />
  <br />
  Heinolan Kiekko&nbsp;<a href="http://heki.verkkopolku.com/" target="_blank">www.heki.verkkopolku.com</a><br />
  <br />
  Nastolan Kiekko&nbsp;<a href="http://www.nastolankiekko.fi/" target="_blank">www.nastolankiekko.fi</a><br />
  <br />
  Kanavan Pallo, V&auml;&auml;ksy&nbsp;<a href="http://www.kanavanpallo.net/" target="_blank">www.kanavanpallo.net</a><br />
  <br />
  Vesikansan Kiekko, Hollola&nbsp;<a href="http://www.veki.fi/" target="_blank">www.veki.fi</a><br />
  <br />
  Kansainv&auml;linen j&auml;&auml;kiekon kehityskeskus<a href="http://www.iihce.com/" target="_blank">&nbsp;www.iihce.com</a></p>
<p><strong><a target="_blank" href="docs/pelicanstie.pdf">Pelicanstie esite (pdf)</a></strong></p>
<p><strong><a target="_blank" href="/docs/p-h_pelisaannot.pdf">P&auml;ij&auml;t-H&auml;meen j&auml;&auml;kiekkoseurojen pelis&auml;&auml;nn&ouml;t (pdf)</a></strong></p>
  </div>
</div>
<script>
	set_navbar("gamerules");
</script>
