<div class="span12">
	<div class="section">
		<h2>S&auml;&auml;nt&ouml;sivut</h2>
		<p>T&auml;st&auml; saat ladattua seuran s&auml;&auml;nn&ouml;t ! <a href="/docs/pelicans2000strategia_10-14.pdf">pdf-tiedosto</a></p>
	</div>
</div>
<script>
	set_navbar("gamerules");
</script>
