<div class="span2">
	<ul>
		
	</ul>
</div>

<div class="span8">
	<h2>Luistelukoulu kaudella 2012 - 2013</h2>
	
	<br />
	
	<p>Morbi nulla tellus, bibendum non ultricies ut, adipiscing nec mauris. In porta facilisis massa in tempus. Maecenas eu mattis nisl. Vivamus lectus eros, dictum eu malesuada at, pharetra sed nulla. Proin semper mauris vel arcu porttitor non placerat risus sagittis. Vivamus molestie convallis est, eu aliquam risus tempor et. Cras venenatis luctus semper. Integer tortor orci, ultrices quis facilisis eget, luctus vel libero. Nulla diam nibh, pharetra ut vulputate et, pulvinar eget augue. Fusce sit amet malesuada erat. Praesent nisi tortor, euismod id aliquam non, tincidunt nec metus. In eu libero risus.</p>
	
	<p>Aliquam ut odio massa, imperdiet dignissim nisi. Etiam et diam arcu. Nullam dapibus porta magna non sodales. Aenean placerat malesuada nulla, sit amet pharetra leo dignissim eu. Morbi in quam in elit ultricies faucibus bibendum porttitor augue. Cras semper tincidunt nisi quis molestie. Nam iaculis, urna eu euismod blandit, nisi tellus interdum lectus, at cursus dolor leo et magna. Suspendisse aliquet, est at varius adipiscing, libero nulla consectetur nibh, sit amet sollicitudin nisl ipsum ut orci. Suspendisse non velit nec nisi elementum vulputate sed non arcu. Donec id ipsum in arcu vehicula convallis eget vitae lectus. Donec ullamcorper odio nec urna eleifend aliquet.</p>
</div>

<!--<div class="span2">
	<ul></ul>
</div> -->

<script>	
	set_navbar("skating-school");
</script>
