<%= render :partial => "club_inner_nav" %>

<div class="span8">
	<div class="section">
		<h2>Strategia</h2>
		
    <a href="/docs/pelicans2000strategia_10-14.pdf" target="_blank">Lataa tästä Pelicans2000 ry:n Strategia 	kausille 2010-2014</a></div>
</div>

<!-- 
<div class="span2">
	
</div>
-->

<script>
	set_navbar("club");
	set_navbar("strategy");
</script>
