<%= render :partial => "club_inner_nav" %>

<div class="span8">
	<div class="section">
		<h2>Strategia</h2>
		
		<br />
		
		<p>
			Pelicans 2000 Hollola ry on jääkiekon erikoisseura, jonka toiminta-ajatuksena on tarjota lapsille ja nuorille
			mahdollisuus harrastaa jääkiekkoa oman taitotasonsa ja halunsa mukaisesti. Toiminta tapahtuu
			ensisijaisesti <a href="http://www.hollola.fi/tekninen/liikunta/jaahalli.htm">Hollolan jäähallissa.</a> <a href="http://pelicans2000.fi/kartta.htm">Kartta jäähallille.</a>
		</p>
	</div>
</div>

<!-- 
<div class="span2">
	
</div>
-->

<script>
	set_navbar("club");
	set_navbar("strategy");
</script>
