<div class="span2 section">
	<div class="well" style="max-width: 220px; padding: 8px 0;">
		
		<ul id="teams-list" class="nav nav-list">
			<li class="nav-header">Valitse joukkue</li>
			<% Team.order("name ASC").each do |team| %>
				<li id="team_<%= team.id %>"><a href="/joukkue/<%= team.id %>"><%= team.name %></a></li>
			<% end %>
			<li class="divider"></li>
			<li><a href="#">Tyttökiekkokoulu</a></li>
			<li><a href="#">Luistelukoulu</a></li>
			<li><a href="#">Leijonakiekkokoulu</a></li>
			<li class="divider"></li>
			<li class="active"><a href="/joukkueet">Valmennustoiminta</a></li>
		</ul>
	</div>
</div>

<div class="span8 section">
	<div>
		<h2>Valmennustoiminta</h2>
	</div>
</div>

<div class="span2 section">
	<h3>Seuran jäät</h3>
	
	<img src="/assets/cal_logo.png" alt="Icetime calendar link logo" id="calendar-img-link" onclick="window.location = '/paakalenteri'" />
	
	<br />
</div>



<script>
	set_navbar("teams");
</script>
