<div class="span2">
	<h3>Linkkejä</h3>
	
	<h3>Yhteistyössä</h3>
	
	<img src="if.gif" alt="Sponsored by If gif" id="sponsor-img-if" />
	<img src="if.gif" alt="Sponsored by Sportia and Lammin OP gif" id="sponsor-img-others" />
</div>

<div class="span8">
	<h1>Etusivu</h1>
	<br />
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer metus est, laoreet et iaculis nec, lobortis ac sapien. Ut dignissim neque et ligula vestibulum nec semper erat dignissim. Aliquam erat volutpat. Integer a justo et risus ultricies volutpat ac adipiscing nibh. Donec id nibh eu ipsum interdum ultricies vitae sit amet lacus. Aliquam quis arcu nec lorem tincidunt euismod. Cras sit amet massa ut leo rhoncus consequat.</p>
	
	<p>Integer libero neque, mollis eu sodales vitae, eleifend in augue. Sed ac libero risus, tempus faucibus lorem. Pellentesque dignissim ligula at quam mollis ullamcorper. Aliquam erat volutpat. Vestibulum vestibulum metus non nulla ornare vel feugiat justo lacinia. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer vitae ante purus. Etiam leo sapien, semper nec placerat ut, laoreet eget arcu. Ut commodo rhoncus venenatis. Nunc sed dolor quis lorem bibendum elementum. Vivamus tincidunt enim sed magna congue feugiat venenatis non ante. Suspendisse potenti. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec nec lorem erat. Nam aliquet, orci eget volutpat volutpat, est lorem vulputate sapien, ac imperdiet nulla lectus sit amet mi.</p>
</div>

<div class="span2">
	<h3>Tapahtumia</h3>
	
	<div>
		<h4>Jäähalli paloi poroksi</h4>
		<p>Jäähalli paloi viime yönä poroksi. Syyksi epäillään pikkupoikien tulitikkuleikkejä. <a href="http://www.google.com">Lue lisää</a></p>
	</div>
</div>
