<div class="span2">
	<h3>Tapahtumia</h3>
	
	<br />
	
	<div>
		<span class="news-date">15.10.2012</span>
		<h4>Jäähalli paloi poroksi</h4>
		<p>Jäähalli paloi viime yönä poroksi. Syyksi epäillään pikkupoikien tulitikkuleikkejä. <br /> <a href="http://www.google.com">Lue lisää</a></p>
	</div>
	
	<div>
		<span class="news-date">12.10.2012</span>
		<h4>Päävalmentajalta meni hermot</h4>
		<p>Päävalmentaja irtisanoutui joukkueen uuden nettisivun ulkoasukiistan johdosta <br /> <a href="http://www.google.com">Lue lisää</a></p>
	</div>
	
	<br />
	
	<a class="btn btn-medium"  href="#"><i class="icon-folder-open"></i> Lisää tapahtumia</a>
</div>

<div class="span8">	
	<div class="well" id="news_wrapper">
		<h3>Uusimmat tapahtumat</h3>
		
		<br />
		
		<div>
			<span class="news-date">18.10.2012</span>
			<h4>Uudet nettisivut</h4>
			<p>Lahden ammattikorkeakoulun oppilaat toteuttivat seuralle uudet nettisivut. <br /> <a href="http://www.google.com">Lue lisää</a></p>
		</div>
	</div>
</div>

<div class="span2">
	<h3>Seuran jääkalenteri</h3>
	
	<img src="assets/cal_logo.png" alt="Icetime calendar link logo" id="calendar-img-link" />
	
	<h3>Yhteistyössä</h3>
	
	<br />
	
	<img src="assets/if.gif" alt="Sponsored by If gif" id="sponsor-img-if" />
	
	<br />
	
	<img src="assets/sponssit.gif" alt="Sponsored by Sportia and Lammin OP gif" id="sponsor-img-others" />
</div>

<script>	
	set_navbar("index");
</script>
