/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*require jquery.ui.all*/

@media (max-width: 710px) {
  .span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
    margin-bottom: 10px !important;
  } 
}

html {
	overflow-y: scroll;
}

body {
	padding-top: 50px;
}

.section {
	border-radius: 5px;
	padding: 10px;
	background: #FAFAFA;
}

.nav-section {
	padding-left: 3px;
	padding-right: 3px;
}

.login-section {
	padding-bottom: 3px;
}

.row {
	margin-top: 10px;
	margin-bottom: 10px;
}

.action-btn {
	margin-right: 10px;
}

.btn-margin-right {
	margin-right: 10px;
}

.fb {
	margin-top: 10px;
	margin-bottom: 10px;
}

.file-icon {
	height: 16px;
	width: 16px;
} 

.reserved {
  background-color: #FAFAFA !important;
}

.AJunnut {
  background-color: pink !important;
}

.BJunnut {
  background-color: lime !important;
}

.E1-02 {
	background-color: #0F0;
}

.C2-98 {
  background-color: yellow !important;
}

.C2Team {
  background-color: orange !important;
}

.D1-99 {
  background-color: blue !important;
  color: white !important;
}

.custom-res {
	background-color: cyan !important;
  	color: black !important;
}

.selected {
  background-color: green !important;
}

.tb_removed {
  background-color: black !important;
  color: white;
}

.new-res {
	opacity: 0.6;
}

.time-headers {
	position: relative;
	bottom: 16px;
	padding-left: 25px;
}

/* Lol */

#main-cal-wrapper table {
	margin-left: 5%;
	margin-right: 8%;
	table-layout: fixed;
	width: 87%;
}

#main-cal-wrapper table td {
	word-wrap: break-word;
}

.wb-table-header-row-item {
	padding-bottom: 15px;
	font-size: 150%;	
}

#calendar-img-link:hover {
  cursor: pointer;
}

.news-table {	
	cursor: pointer;
}

.file-icon {
	width: 16px !important;
	height: 16px !important;
}

#attachments-th {
}

#header-th {

}

.partners {
	height: auto;
	width: 50px;
}
.img {
	height: auto;
	width: 250px;
}

@media all and (max-width: 960px) {
	.date-pointer {
		display: none;
	}
}