/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*require jquery.ui.all*/


html {
	overflow-y: scroll;
}

body {
	padding-top: 50px;
}

img {
	width: 100%;
}

.section {
	border-radius: 5px;
	padding: 10px;
	background: #FAFAFA;
}

.nav-section {
	padding-left: 3px;
	padding-right: 3px;
}

.login-section {
	padding-bottom: 3px;
}

.row {
	margin-top: 10px;
	margin-bottom: 10px;
}

.action-btn {
	margin-right: 10px;
}

.btn-margin-right {
	margin-right: 10px;
}

.fb {
	margin-top: 10px;
	margin-bottom: 10px;
}

.reserved {
  background-color: #FAFAFA !important;
}

.AJunnut {
  background-color: pink !important;
}

.BJunnut {
  background-color: lime !important;
}

.E102 {
	background-color: #0F0 !important;
}

.C2-98 {
  background-color: yellow !important;
}

.C2Team {
  background-color: orange !important;
}

.D1-99 {
  background-color: blue !important;
  color: white !important;
}

.custom-res {
	background-color: cyan !important;
  	color: black !important;
}

.selected {
  background-color: green !important;
}

.tb_removed {
  background-color: black !important;
  color: white;
}

.new-res {
	opacity: 0.6;
}

.time-headers {
	position: relative;
	bottom: 16px;
	padding-left: 25px;
}

.wb-table-header-row-item {
	padding-bottom: 15px;
	font-size: 150%;
}

#main-cal-wrapper table {
	margin-left: 5%;
	margin-right: 8%;
	table-layout: fixed;
	width: 87%;
}

#main-cal-wrapper table td {
	word-wrap: break-word;
}

#main-cal-wrapper {
	
}

#calendar-img-link:hover {
  cursor: pointer;
}

.news-table {	
	cursor: pointer;
}

.file-icon {
	width: 16px !important;
	height: 16px !important;
}