// Place all the styles related to the PrivatePages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 0px;
}

#page {
  width: 220px;
  margin: auto;
  
  border-radius: 5px;
  
  background: #FAFAFA;
  padding: 10px;  

}

.centered-text {
  text-align: center;
}

.alert {
  margin-bottom: 0px;
}

#private-pages-banner {
  width: 100%;
}

#main-calendar-table .reservable {
  background-color: grey;
  width: 110px;
  height: 30px;
  border: solid 1px black;
  text-align: center;
}

.center-button {
    position: absolute;
    width: 50px;
    left: 50%;
    margin-left: 25px;
}
