// Place all the styles related to the PrivatePages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 0px;
}

#page {
  width: 220px;
  margin: auto;
  
  border-radius: 5px;
  
  background: #FAFAFA;
  padding: 10px;  

}

.centered-text {
  text-align: center;
}

.alert {
  margin-bottom: 0px;
}

#private-pages-banner {
  width: 100%;
}

#main-calendar-table .reservable {
  background-color: grey;
  width: 110px;
  height: 30px;
  border: solid 1px black;
  text-align: center;
}

.center-button {
    position: absolute;
    width: 50px;
    left: 50%;
    margin-left: 25px;
}

.reserved {
  background-color: #FAFAFA !important;
}

.AJunnut {
  background-color: pink !important;
}

.BJunnut {
  background-color: lime !important;
}

.C2-98 {
  background-color: yellow !important;
}

.C2Team {
  background-color: orange !important;
}

.D1-99 {
  background-color: blue !important;
  color: white !important;
}

.selected {
  background-color: green !important;
}

.news-textarea {
  width: 600px;
  height: 150px;
}

.edit-news-btn, .delete-news-btn {
  width: 55px;
}

.delete-news-btn {
  margin-top: 5px;
}
